header {
  @include vertical-center;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid $light_gray;

  a {
    color: $dark_gray;
  }

  i {
    font-size: 24px;
  }

  .logo {
    @include vertical-center;

    span {
      border-left: 1px solid $light_gray;
      font-weight: 700;
      line-height: 20px;
      font-size: 24px;
      color: $dark_gray;
      margin-left: 10px;
      padding-left: 10px;
    }
  }

  .controls {
    @include vertical-center;

    a {
      @include vertical-center;
      padding: 0 25px;
      height: 100%;

      &.active, &:hover {
        border-bottom: 2px solid $primary;
      }
    }
  }

  .profile {
    @include vertical-center;

    &__name {
      @include vertical-center;
      border-left: 1px solid $light_gray;
      padding-left: 20px;
      margin-left: 20px;

      span {
        margin-right: 15px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
      }
    }
  }
}