@mixin vertical-center {
  display: flex;
  align-items: center;
}

@mixin horizontal-center {
  display: flex;
  justify-content: center;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border {
  border: 1px solid $light_gray;
  border-radius: 10px;
}